# Using pandas

In [15]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import urllib.request

In [17]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}

In [13]:
#as an example with 5 movies
all_urls = ['https://www.metacritic.com/movie/the-godfather',
 'https://www.metacritic.com/movie/citizen-kane',
 'https://www.metacritic.com/movie/rear-window',
 'https://www.metacritic.com/movie/casablanca',
 'https://www.metacritic.com/movie/boyhood']

In [18]:
director_dict = {}
genre_dict = {}
for i in all_urls:
    req = urllib.request.Request(i, headers = headers)
    fhand = urllib.request.urlopen(req)
    soup = BeautifulSoup(fhand, 'html.parser') 
    name_div = soup.find('div', attrs = {'class':'product_page_title oswald'})
    name = name_div.get_text().strip()
    print(name)
    director_div = soup.find('div', attrs = {'class':'director'})
    director_link = director_div.find_all('a')
    directors = []
    for i in director_link:
        directors.append(i.get_text().strip())
    print(directors)
    genres_div = soup.find('div', attrs = {'class':'genres'})
    genres_list = genres_div.find_all('span')
    genres = []
    for i in genres_list:
        genres.append(i.get_text())
    print(genres[2:])
    director_dict[name] = directors
    genre_dict[name] = genres[2:]

The Godfather
1972
['Francis Ford Coppola']
['Drama', 'Thriller', 'Crime']
Citizen Kane
1941
['Orson Welles']
['Drama', 'Mystery']
Rear Window
1954
['Alfred Hitchcock']
['Mystery', 'Thriller']
Casablanca
1943
['Michael Curtiz']
['Drama', 'Romance', 'War']
Boyhood
2014
['Richard Linklater']
['Drama']

In [19]:
director_dict
#remember to remove the \n
# remember to join the list into a string

{'The Godfather\n1972': ['Francis Ford Coppola'],
 'Citizen Kane\n1941': ['Orson Welles'],
 'Rear Window\n1954': ['Alfred Hitchcock'],
 'Casablanca\n1943': ['Michael Curtiz'],
 'Boyhood\n2014': ['Richard Linklater']}

In [20]:
genre_dict
# remember to join the list into a string

{'The Godfather\n1972': ['Drama', 'Thriller', 'Crime'],
 'Citizen Kane\n1941': ['Drama', 'Mystery'],
 'Rear Window\n1954': ['Mystery', 'Thriller'],
 'Casablanca\n1943': ['Drama', 'Romance', 'War'],
 'Boyhood\n2014': ['Drama']}

# To put them into a pandas dataframe

In [1]:
# assuming you have removed the \n and joined the list into strings
director_dict = {'The Godfather 1972': 'Francis Ford Coppola',
 'Citizen Kane 1941': 'Orson Welles',
 'Rear Window 1954': 'Alfred Hitchcock',
 'Casablanca 1943': 'Michael Curtiz',
 'Boyhood 2014': 'Richard Linklater'}

In [3]:
genre_dict = {'The Godfather 1972': 'Drama, Thriller, Crime',
 'Citizen Kane 1941': 'Drama, Mystery',
 'Rear Window 1954': 'Mystery, Thriller',
 'Casablanca 1943': 'Drama, Romance, War',
 'Boyhood 2014': 'Drama'}

In [4]:
#use the dictionary method
import pandas as pd
movie_data = pd.DataFrame({'Director':director_dict, 'Genres':genre_dict})

# a dictionary can be passed to DataFrame() to create a table
# the key will become column names
# the value will be filled into the column
# the value is also a dictionary itself
# the sub dictionary key will become index
# the sub dictionary value will be filled into the column
# pandas will try to match the index names

movie_data

                                Director                  Genres
The Godfather 1972  Francis Ford Coppola  Drama, Thriller, Crime
Citizen Kane 1941           Orson Welles          Drama, Mystery
Rear Window 1954        Alfred Hitchcock       Mystery, Thriller
Casablanca 1943           Michael Curtiz     Drama, Romance, War
Boyhood 2014           Richard Linklater                   Drama

In [5]:
# so if there are unique elements in one disctionary
# I am adding in 2 movies
director_dict = {'The Godfather 1972': 'Francis Ford Coppola',
 'Citizen Kane 1941': 'Orson Welles',
 'Rear Window 1954': 'Alfred Hitchcock',
 'Casablanca 1943': 'Michael Curtiz',
 'Boyhood 2014': 'Richard Linklater',
 'Transformer': 'Michael Bay',
 'The Godfather2 1980': 'Francis Ford Coppola'}

In [27]:
# and the sequence is randomized
genre_dict = {'The Godfather 1972': 'Drama, Thriller, Crime',
              'The Godfather2 1980': 'Drama, Thriller, Crime',
 'Casablanca 1943': 'Drama, Romance, War',
 'Citizen Kane 1941': 'Drama, Mystery',
 'Rear Window 1954': 'Mystery, Thriller',
 'Boyhood 2014': 'Drama'}

In [28]:
# it will still match up the index, and put null in missing values
movie_data = pd.DataFrame({'Director':director_dict, 'Genres':genre_dict})
movie_data

                                 Director                  Genres
The Godfather 1972   Francis Ford Coppola  Drama, Thriller, Crime
Citizen Kane 1941            Orson Welles          Drama, Mystery
Rear Window 1954         Alfred Hitchcock       Mystery, Thriller
Casablanca 1943            Michael Curtiz     Drama, Romance, War
Boyhood 2014            Richard Linklater                   Drama
Transformer                   Michael Bay                     NaN
The Godfather2 1980  Francis Ford Coppola  Drama, Thriller, Crime

In [29]:
movie_data.index

Index(['The Godfather 1972', 'Citizen Kane 1941', 'Rear Window 1954',
       'Casablanca 1943', 'Boyhood 2014', 'Transformer',
       'The Godfather2 1980'],
      dtype='object')

In [30]:
# the index column does not have a name, we can give it a name
movie_data.index.name = 'Name'

In [31]:
movie_data

                                 Director                  Genres
Name
The Godfather 1972   Francis Ford Coppola  Drama, Thriller, Crime
Citizen Kane 1941            Orson Welles          Drama, Mystery
Rear Window 1954         Alfred Hitchcock       Mystery, Thriller
Casablanca 1943            Michael Curtiz     Drama, Romance, War
Boyhood 2014            Richard Linklater                   Drama
Transformer                   Michael Bay                     NaN
The Godfather2 1980  Francis Ford Coppola  Drama, Thriller, Crime

In [32]:
movie_data.to_csv('Movie_INSY5336.csv', sep=',', index = True)

# Now to use the csv file

In [33]:
movie_df = pd.read_csv('./Movie_INSY5336.csv', sep=',')

In [34]:
# suppose user chose option 2 and give the following input
inp = 'Francis Ford Coppola'

In [35]:
# we just need to apply a filter
my_filter = movie_df['Director'].str.contains(inp)
filtered_movies = movie_df[my_filter]

In [36]:
filtered_movies

                  Name              Director                  Genres
0   The Godfather 1972  Francis Ford Coppola  Drama, Thriller, Crime
6  The Godfather2 1980  Francis Ford Coppola  Drama, Thriller, Crime

In [37]:
# we can make the 'name' column into a list
movies1 = list(filtered_movies['Name'])

In [38]:
movies1

['The Godfather 1972', 'The Godfather2 1980']

In [39]:
genres1 = list(filtered_movies['Genres'])

In [40]:
# now be careful with this list
# we cannot count directly, because each element contains multiple genres
genres1

['Drama, Thriller, Crime', 'Drama, Thriller, Crime']

In [41]:
# so we join them first
string1 = ', '.join(genres1)
string1

'Drama, Thriller, Crime, Drama, Thriller, Crime'

In [43]:
# and split it again
list1 = string1.split(', ')
list1

['Drama', 'Thriller', 'Crime', 'Drama', 'Thriller', 'Crime']

# now we can do the counting